.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1,
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    width: 100%;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  